@model SalesOrderApp.ViewModels.OrdersViewModel

@{
    ViewData["Title"] = "Orders";
}

<div id="orderTablesContainer">
    @await Html.PartialAsync("_OrderTablesPartial", Model)
</div>

@await Html.PartialAsync("_AddOrderFormPartial", new SalesOrderApp.ViewModels.OrdersAddViewModel
{
    OrderHeader = new SalesOrderApp.ViewModels.OrderHeaderViewModel(),
    OrderLines = new List<SalesOrderApp.ViewModels.OrderLineViewModel>()
})

<div id="editOrderHeaderContainer">
    @await Html.PartialAsync("_EditOrderHeaderPartial", new SalesOrderApp.ViewModels.OrdersEditHeaderViewModel())
</div>

@section Scripts {
    <script>
        function selectOrder(orderId, selectedOrderId) {
            var addClass = orderId != selectedOrderId;

            $.ajax({
                url: '@Url.Action("UpdateSelectedOrder", "Orders")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(addClass ? orderId : 0),
                success: function (result) {
                    $('#orderTablesContainer').html(result);
                    $('#orderHeadersTableBody tr').removeClass('table-active');
                    if (addClass) $(`tr[data-order-id="${orderId}"]`).addClass('table-active');
                },
                error: function (xhr, status, error) {
                    alert('An error occurred while selecting the order.');
                }
            });
        }

        function placeOrder() {
            $('#addOrderModal').modal('show');
        }

        function editOrderHeader(orderId, event) {
            // Prevent triggering the row selection
            event.stopPropagation();

            $.ajax({
                url: '@Url.Action("EditOrderHeader", "Orders")',
                type: 'GET',
                data: { id: orderId },
                success: function (result) {
                    $('#editOrderHeaderContainer').html(result);
                    $('#editOrderHeaderModal').modal('show');
                },
                error: function (xhr, status, error) {
                    alert('An error occurred while retrieving the order header for editing.');
                }
            });
        }
    </script>
}
