@model SalesOrderApp.ViewModels.OrdersViewModel

@{
    ViewData["Title"] = "Orders";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div id="orderTablesContainer">
    @await Html.PartialAsync("_OrderTablesPartial", Model)
</div>

<div id="addOrderContainer">
    @await Html.PartialAsync("_AddOrderFormPartial", new SalesOrderApp.ViewModels.OrdersAddViewModel())
</div>

@section Scripts {
    <script>
        function selectOrder(orderId, selectedOrderId) {
            var addClass = orderId != selectedOrderId;

            $.ajax({
                url: '@Url.Action("UpdateSelectedOrder", "Orders")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(addClass ? orderId : 0),
                success: function (result) {
                    $('#orderTablesContainer').html(result);
                    $('#orderHeadersTableBody tr').removeClass('table-active');
                    if (addClass) $(`tr[data-order-id="${orderId}"]`).addClass('table-active');
                },
                error: function (xhr, status, error) {
                    alert('An error occurred while selecting the order.');
                }
            });
        }

        function placeOrder() {
            $.ajax({
                url: '@Url.Action("CreateOrder", "Orders")',
                type: 'GET',
                success: function (result) {
                    $('#addOrderContainer').html(result);
                    $('#addOrderModal').modal('show');
                },
                error: function (e) {
                    var errMsg = e.status == 401 ? "You are not authorised for this action" : "An unexpected error occurred.";
                    alert(errMsg);
                }
            });
        }
    </script>
}
